<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
      <div class="side-header">
      </div>
        <div class="side-list">
        </div>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
      <div class="chat-header">
      </div>
        <div class="main-chat">
        </div>
          <div class="bottom-header">
          </div>
  </div>
</div>